{                                                
  "exec-opts": ["native.cgroupdriver=systemd"],  
  "log-driver": "json-file",                     
  "log-opts": {                                  
    "max-size": "{{ docker_max_logs_size }}"     
  },                                             
  "storage-driver": "overlay2"                   
}                                                

